<?xml version="1.0" encoding="utf-8"?>
<robot name="wsg50">
  <material name="wsg50_Gray">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="wsg50_DarkGray">
    <color rgba="0.3 0.3 0.3 1.0"/>
  </material>
  <link name="wsg50_gripper_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://wsg_description/meshes/wsg50_110.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wsg50_Gray"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.146 0.0725 0.05"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0 -0.03625 0.0"/>
    </collision>
  </link>
  <link name="wsg50_thumb_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://wsg_description/meshes/wsg_f.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wsg50_DarkGray"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.023 0.09515100000000001 0.03"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0085 0.0104245 0.0"/>
    </collision>
  </link>
  <link name="wsg50_index_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://wsg_description/meshes/wsg_f.obj" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="wsg50_DarkGray"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.023 0.09515100000000001 0.03"/>
      </geometry>
      <origin rpy="0.0 -0.0 0.0" xyz="0.0085 0.0104245 0.0"/>
    </collision>
  </link>
  <joint name="wsg50_thumb_joint" type="fixed">
    <parent link="wsg50_gripper_link"/>
    <child link="wsg50_thumb_link"/>
    <origin rpy="3.141 0 0" xyz="0 -0.096 0"/>
  </joint>
  <joint name="wsg50_index_joint" type="fixed">
    <parent link="wsg50_gripper_link"/>
    <child link="wsg50_index_link"/>
    <origin rpy="3.141 3.141 0" xyz="0 -0.096 0"/>
  </joint>
</robot>
